
header{
    border-bottom: 1px solid black ;
    padding-bottom: 1em;
    padding: 1em;
    display: inline-block;
    

}
main{
    padding: 1em;
    letter-spacing: 1px;
    font-size: 18px;

}


nav a {
    color: green;
    margin: 0.5em;
}
