@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 12px/1.5 'Poppins', sans-serif;
}

p{
    padding-bottom: 10px;
}
h3{
    padding-bottom: 10px;
    font-weight: 500;
}
.container{
    width: 300px;
    margin: 0 auto;
    height: 10px;
}

.container header{
    
    text-align: center;
    padding: 20px 0 5px;
}

.container header h2{
    padding-bottom: 5px;
}
.container header h2 span {
    color: blue;
}
.container header p{
    padding-bottom: 10px;
}

.cards-list{
    display: flex;
    gap: 20px;
    
}

.card{
    flex: 1 0 30%;
    background-color:rgb(137, 137, 231);
    border-radius: 15px;

}

.card img{
    display: block;
    width: 100%;
    border-radius: 10px;
}

.card .content{
    padding: 15px;
}

.card a {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: rgb(86, 86, 218);
    border-radius: 15px;
    padding:5px 15px 5px 15px;
    border: 1px solid white;
    
}

